* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {

}

.top {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav .left {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .left p {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav .right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 300;
}

.nav .right a {
  color: black;
  text-decoration: none;
}

.hero {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.hero .left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .left p {
 
  text-transform: capitalize;
}

.hero .left :first-child {
  font-size: 1.7em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}

.hero .left :nth-child(2) {
  font-size: 4em;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

.hero .left :nth-child(3) {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
}

.hero .left :nth-child(4) {
  text-transform: uppercase;
  line-height: 2em;
  word-spacing: 0.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

.hero .right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;

}

.hero .right img {
  width: 80%;
  height: 70vh;
  border-radius: 100%;  display: none;
}

.skill {
  width: 75%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 10vh;
}

.skill p {

  font-size: 4em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  font-weight: 900;
  height: 10vh;
}

.skill div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.skill div .card {
  background-color: rgba(176, 96, 96, 0.493);
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.skill div .card p {
  height: auto;
  font-size: 3em;
}

.contact {
  width: 75%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.contact .left {
  width: 50%;
  height: 100vh;
}

.contact .left :first-child {
  font-size: 3.8em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 10vh;
  line-height: normal;
  word-spacing: normal;
}

.contact .left p {

  margin-top: 10vh;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2em;
  word-spacing: 0.5em;
}

.contact .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.contact .right p {
  font-size: 3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-weight: 900;
  text-transform: capitalize;
  margin-top: 10vh;
  line-height: normal;
  word-spacing: normal;
}

.contact .right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.contact .right input {
  width: calc(100% - 20px);
  border-radius: 15px;
  height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: 1px solid black;
}

.contact .right button {
  width: 40%;
  height: 10vh;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid black;
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

.contact .right button:hover {
  background-color: black;
  color: white;
  transition: 1.5s;
}


.des {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5vh;
  margin-top: 10vh;


}

.des p {
  font-size: 1em;
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 80%;
  font-weight: 400;
  text-transform: capitalize;

}

.des :first-child {
  font-size: 3em;
  font-weight: 900;

}

.des button {
  width: 15%;
  padding:10px;
  border: none;
  border-radius: 15px;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  background-color: red;
  color: white;
}
.pic{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
  gap: 10vh;

}
.row{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;


}
.pic .row img{
  width: 45%;
  height: 50vh;
}